# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Build output
frontend/dist/

# Database files (optional)
# backend/dojo.db

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
